[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
apscheduler = "*"
flask-cors = "*"
gunicorn = "*"
requests = "*"
python-whois = {git = "https://github.com/richardpenman/whois.git"}
spacy = "*"
python-dotenv = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.10"
